@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #E55A63;
    color: #FFFFFF;
    height: 88px;

    padding-left: 48px;
    padding-right: 48px;

    position: relative;
    z-index: 100;
}

.logoInputWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 31px;
}

.logoWrapper {
    display: flex;
    align-items: center;

    gap: 15px;
}

.logoText {
    display: flex;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}

.navbarIconWrapper {
    display: flex;
    flex-direction: row;

    gap: 40px;
}

.navbar {
    display: flex;
    flex-direction: row;

    gap: 16px;
}

.navbar a {
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease;
    cursor: pointer;
}

.navbar a:hover {
    border-bottom: 2px solid #EA7B82;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.burger span {
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
}

@media (max-width: 850px) {
    .main {
        padding-left: 24px;
        padding-right: 24px;
    }

    .burger {
        display: flex;
        flex-direction: column;
        z-index: 101;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbarIconWrapper {
        position: absolute;
        top: 88px;
        left: 0;
        width: 100%;
        background-color: #D6535B;
        flex-direction: column;
        padding: 30px 0 30px 24px;

        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;

        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .navbarIconWrapper.menuOpen {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

    .burgerActive span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burgerActive span:nth-child(2) {
        opacity: 0;
    }

    .burgerActive span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}