:root {
    --arrow-span-color: #3D3D3D;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
}

.arrow span {
    width: 8px;
    height: 8px;
    border-bottom: 1px solid var(--arrow-span-color);
    border-right: 1px solid var(--arrow-span-color);
    transform: rotate(45deg);
}

.active span {
    transform: rotate(-135deg);
}