.main {
    display: flex;
    flex-direction: column;
}

.topBar {
    display: flex;
    justify-content: center;

    background-color: #FFFFFF;
    padding: 16px 24px;
}

.contentLayout {
    display: flex;
    flex-direction: row;
    gap: 48px;

    padding: 48px 48px 0 48px;
}

.sideBar {
    width: 204px;
    min-height: 100px;
}

.mainContent {
    width: 100%;
    min-height: 100px;
    border: 1px solid red;
}